h1, div {
  font-style: italic;
  text-align: center;
}

header, footer {
  text-align: center;
  word-spacing: 50px;
}

footer, ol {
  margin-top: 100px;
}

div {
  margin-top: -20px;
}

body {
  background-color: green;
}
